@import "tailwindcss";

@theme {
  --color-brand-yellow: #e6b753;
  --color-brand-light-yellow: #f8eed6;
  --color-brand-cream: #FBF5EB;
  --color-brand-dark: #2a2315;
  --color-brand-brown: #b9964e;
  --color-brand-orange: #d6993a;
  --font-serif: "Playfair Display", serif;
  --font-sans: "Inter", sans-serif;
}

body {
  @apply bg-brand-yellow text-brand-dark font-sans m-0 p-0;
  scroll-behavior: smooth;
}

html {
  scroll-behavior: smooth;
}

button, [role="button"], a {
  cursor: pointer !important;
}
