@import "tailwindcss";

@theme {
  --color-brand-yellow: #F8E693;
  --color-brand-light-yellow: #fef8db;
  --color-brand-cream: #FBF5EB;
  --color-brand-dark: #2a1f1a;
  --color-brand-brown: #965a1e;
  --color-brand-orange: #d17124;
  --font-serif: "Playfair Display", serif;
  --font-sans: "Inter", sans-serif;
}

body {
  @apply bg-brand-yellow text-brand-dark font-sans m-0 p-0;
  scroll-behavior: smooth;
}

html {
  scroll-behavior: smooth;
}
